{% extends 'base.html' %}
{% load static %}
{% block logo %}
   {% for school_general_information in sucks %}
   <a href="{% url 'home' %}"><img alt="Kakamega school  logo" class="welcome" src="{{ school_general_information.school_logo.url }}" height="150" width="150" alt=" "></a>
   {% endfor %}
{% endblock %}

{% block general_head %}
        {% for school_general_information in sucks %}
        <ul>
        <li><i class="fa fa-phone" aria-hidden="true"></i> <strong>{{ school_general_information.school_phone_number|safe }}</strong></li>
        <li><img alt="Kakamega school  email address" src="{{ school_general_information.mail_icon.url }}" height="20" width="20" alt=" ">&emsp; <strong>{{ school_general_information.school_emailaddress }}</strong></li>
          <li><img alt="Kakamega school  postal address" src="{{ school_general_information.address_icon.url }}" height="20" width="20" alt=" ">&emsp; <strong>{{ school_general_information.school_address }}</strong></li>
        </ul>
        {% endfor %}
{% endblock %}

{% block social_links %}
  <nav class="social">
  <ul>
    {% for school_general_information in sucks %}
    <li class="w3_twitter"><a href="{{ school_general_information.school_twitterlink }}" target="_blank">Twitter <i class="fa fa-twitter"></i></a></li>
    <li class="w3_facebook"><a href="{{ school_general_information.school_facebooklink }}" target="_blank">Facebook <i class="fa fa-facebook"></i></a></li>
    {% endfor %}
  </ul>
  </nav>
{% endblock %}

{% block home_content %}
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <div>
                <p style="text-align: center; color:green; font-size: 20px;">Success! Thank you for your message!<br />
                    <img height="100px" width="100px" src="{% static 'images/smile.png' %}" />
                </p>
            </div>
			</div>
		</div>
{% endblock %}
